{% extends "base.html" %}

{% load i18n %}

{% block content %}
<div class="jumbotron text-center">
    <h3>{% blocktrans %}Research Institute{% endblocktrans %}</h3>
    <p>{% blocktrans %}RIn offers to you a scientific, application or capital collaboration on its projects, lease of sources and final products.{% endblocktrans %}</p>
    <a href="{% url 'products' %}" class="btn btn-success">{% trans 'chci zjistit více' %}</a>
</div>

<div class="container" style="height: 400px">
<div class="carousel slide" data-ride="carousel">
<div id="carousel-home" class="carousel-inner">
  <div class="carousel-item active">
    <img src="/static/images/carousel/chemistry-2938901_1280.jpeg" class="img-fluid">
  </div>
  <div class="carousel-item">
    <img src="/static/images/carousel/car-3075471_1280.jpeg" class="img-fluid">
  </div>
  <div class="carousel-item">
    <img src="/static/images/carousel/blood-1813410_1280.jpeg" class="img-fluid">
  </div>
  <div class="carousel-item">
    <img src="/static/images/carousel/cyberspace-2784907_1280.jpeg" class="img-fluid">
  </div>
  <div class="carousel-item">
    <img src="/static/images/carousel/diabetes-2994808_1280.jpeg" class="img-fluid">
  </div>
  <div class="carousel-item">
    <img src="/static/images/carousel/drone-2724257_1280.jpeg" class="img-fluid">
  </div>
  <div class="carousel-item">
    <img src="/static/images/carousel/tech-3041437_1280.jpeg" class="img-fluid">
  </div>
  <div class="carousel-item">
    <img src="/static/images/carousel/windrader-2991696_1280.jpeg" class="img-fluid">
  </div>
</div>
</div>
</div>
{% endblock %}
