{% extends "base.html" %}

{% load i18n %}

{% block content %}
{% if product %}
  <div class="text-center my-2">
    <a href="/products" class="btn btn-success">{% trans 'seznam produktů' %}</a>
  </div>

  <div class="jumbotron">
    <h4>{% trans product.name %}</h4>
    <p>{% trans product.anotation %}</p>
  </div>
  <div class="col-10 offset-1 alert alert-warning">
    {% trans product.content|safe %}
  </div>
{% endif %}
{% endblock %}


{% block js %}
  $('.offer-btn').click(function() {
    var offerBtn = $(event.target);
    if (offerBtn.hasClass('btn-success')) {
      offerBtn.removeClass('btn-success');
      offerBtn.addClass('btn-outline-danger');
    } else {
      offerBtn.removeClass('btn-outline-danger');
      offerBtn.addClass('btn-success');
    }
  });

  $('.productRow').click(function() {
    var row = $(event.target);
    window.location.href = '/product/id=' + row.attr('data-id');
  });
{% endblock js %}
